* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  color: #fff;
  font-size: 3rem;
}

.section {
  flex: 1;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.section:hover {
  flex: 4;
}

#ps5 {
  background-image: url("./ps.jpg");
}

#xbox {
  background-image: url("./xbox.jpg");
}

.text {
  height: 100%;
  padding: 25vh 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ps5 .text {
  background-color: rgba(0, 0, 255, 0.25);
}

#xbox .text {
  background-color: rgba(0, 255, 0, 0.25);
}

button {
  border: 0.25rem solid #fff;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
}

button:active {
  background-color: #fff;
  color: rgba(0, 0, 0, 0);
}
